## Download Data
API Details: https://github.com/binance/binance-public-data/#trades-1

https://data.binance.vision/?prefix=data/spot/daily/trades/BTCUSDT/

In [27]:
# import wget
import os
import wget
import pandas as pd
y = "2022"
m = "08"
d = "28"
currency = "BTCUSDT"
data_dir = "./binance_data"

if not os.path.exists(f"./binance_data/{currency}-trades-{y}-{m}-{d}.csv") and not os.path.exists(f"./binance_data/{currency}-trades-{y}-{m}-{d}.zip"):
    ! wget -P {data_dir}/ https://data.binance.vision/data/spot/daily/trades/{currency}/{currency}-trades-{y}-{m}-{d}.zip
    ! unzip ./binance_data/{currency}-trades-{y}-{m}-{d}.zip -d ./binance_data

## Read Data

In [50]:
df = pd.read_csv(f"{data_dir}/{currency}-trades-{y}-{m}-{d}.csv")
df.loc[-1] = df.columns.values
df.sort_index(inplace=True)
df.reset_index(drop=True, inplace=True)
df.columns = ['trade Id', 'price', 'qty', 'quoteQty', 'time', 'isBuyerMaker', 'isBestMatch']
df.drop(columns=['trade Id', 'isBuyerMaker', 'isBestMatch'], inplace=True)
df['time'] = df['time'].astype('int')
df.groupby('time').agg({'price': 'mean', 'qty': 'sum', 'quoteQty': 'sum'})
# df['time'] = df['time'].apply(lambda x: x//60000)
df = df[df['time']%60000 == 0]
df['timeReadable'] = pd.to_datetime(df['time'], unit='ms')
df

,price,qty,quoteQty,time,timeReadable
0,20037.60000000,0.00067000,13.42519200,1661644800000,2022-08-28 00:00:00
8393,20013.28,0.00461,92.261221,1661644920000,2022-08-28 00:02:00
8394,20012.67,0.00086,17.210896,1661644920000,2022-08-28 00:02:00
8395,20012.67,0.00118,23.614951,1661644920000,2022-08-28 00:02:00
11990,20004.27,0.00136,27.205807,1661644980000,2022-08-28 00:03:00
...,...,...,...,...,...
4646306,19579.98,0.00079,15.468184,1661730960000,2022-08-28 23:56:00
4646307,19579.98,0.01225,239.854755,1661730960000,2022-08-28 23:56:00
4656529,19560.9,0.00192,37.556928,1661731020000,2022-08-28 23:57:00
4666647,19529.75,0.00153,29.880517,1661731080000,2022-08-28 23:58:00
4673306,19545.54,0.00079,15.440977,1661731140000,2022-08-28 23:59:00